.nav {
  background-color: rgba(71, 71, 71, 0.514);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(2px);
}

.nav__logo-cont{
  background-color: var(--main-color);
  padding: 20px;
  display: flex;
  align-items: center;

  .nav__logo-img{
    font-size: 25px;
    color: white;
    margin-right: 10px;
  }

  .nav__logo-title{
    color: white;
    font-size: 1.2rem;
  }
}

.nav__content{
  display: flex;

  .nav__items {
    display: flex;
    list-style-type: none;

    .nav_url, .nav__item {
      height: 100%;
    }

    .nav__url{
      color: white;
      text-decoration: none;
    }

    .nav__item{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
      font-size: 1.0rem;
      cursor: pointer;

      &:hover{
        background-color: var(--dark-gray-color);
      }
    }

  }
}

.nav__dropdown-cont {
  position: relative;
}

.nav__dropdown {
  min-width: 130px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 0;

}

.nav__dropdown-img {
  font-size: 40px;
  color: white;
}

.nav__dropdown-item {
  padding: 15px 15px;
  cursor: pointer;

   p{
    font-size: 1rem;
    color: rgb(112, 112, 112);
   }
}


.nav__dropdown-item:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.13) 0 0);
}

.nav--solid {
  background-color: white;
  position: relative;

  box-shadow: 0px 10px 15px -1px rgba(54,54,54,0.26);
  -webkit-box-shadow: 0px 10px 15px -1px rgba(54,54,54,0.26);
  -moz-box-shadow: 0px 10px 15px -1px rgba(54,54,54,0.26);

    .nav__logo-cont {
      background-color: var(--main-color);
      .nav__logo-title{
        color: white;
      }
      .nav__logo-img{
        color: white;
      }
    }

    .nav__items {

      .nav__url{
        color: rgb(65, 65, 65);
        text-decoration: none;

        &:hover {
          color: white;
        }
      }

      .nav__item{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        font-size: 1.0rem;
        cursor: pointer;

        &:hover{
          background-color: var(--dark-gray-color);
        }
      }

    }

    .nav__dropdown-img {
      font-size: 40px;
      color: rgb(56, 56, 56);

      &:hover{
        color: white;
      }
    }

}
