.footer {
  background-color: rgb(223, 223, 223);
  padding-top: 7%;
  padding-bottom: 7%;
  text-align: center;
  color: rgb(70, 70, 70);
}

.footer__logo-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo{
  font-size: 45px;
  margin-right: 10px;
  color: var(--main-color);
}

.footer__logo-area-text{
  font-size: 1.3rem;
  font-weight: bold;

}

.footer__more-info{
  font-size: 1rem;
  margin-bottom: 15px;
}

.divisor--footer {
  border-width: 1px;
  color: rgb(70, 70, 70);
}
