.footer {
  background-color: rgb(53, 53, 53);
  padding-top: 6.7%;
  padding-bottom: 6.7%;
  text-align: center;
  color: white;
}

.footer__logo-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo{
  font-size: 45px;
  color: white;
  margin-right: 10px;
}

.footer__logo-area-text{
  font-size: 1.3rem;
  font-weight: bold;

}

.footer__more-info{
  font-size: 1rem;
  margin-bottom: 15px;
}
