.land-pg {
  background: linear-gradient( var(--land-page-trans-color), white ), url('http://2.bp.blogspot.com/-hU8I6AxWPOE/UqxzFSswOdI/AAAAAAAAQdw/9-kOptJOiOU/s1600/parejas-juntos-en-el-mar.jpg');
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  color: rgb(255, 255, 255);
  text-align: center;
  flex-direction: column;
}

.land-pg__title {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.land-pg__sub-title {
  font-size: 1.4rem;
  margin-bottom: 30px;
}
