:root {
  --main-color: #963de9;
  --second-color: rgb(255, 167, 43);
  --dark-gray-color: rgb(112, 112, 112);

  --bg-transparency-main-color: #461e6c87;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #343434;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  padding-left: 12%;
  padding-right: 12%;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

/* BUTTON */

.btn.btn {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}

/* DIVISOR */
.divisor {
  margin: 40px 0;
  border-width: 2px;
}

.divisor--footer {
  border-width: 1px;
  border-color: white;
}
