@import "../../../styles.scss";

.nav {
  background-color: rgba(71, 71, 71, 0.514);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav--solid {
  background-color: rgba(71, 71, 71, 1);
  position: relative;
}

.nav__logo-cont{
  background-color: $main-color;
  padding: 20px;
  display: flex;
  align-items: center;

  .nav__logo-img{
    width: 25px;
    margin-right: 10px;
  }

  .nav__logo-title{
    color: white;
    font-size: 1.2rem;
  }
}

.nav__content{
  display: flex;

  .nav__items {
    list-style-type: none;

    .nav_url, .nav__item {
      height: 100%;
    }

    .nav__url{
      color: white;
      text-decoration: none;
    }

    .nav__item{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
      font-size: 1.1rem;

      &:hover{
        background-color: rgb(71, 71, 71);
      }
    }


  }
}
