.profile-pg__sec {
  background-color: white;
  position: relative;
  border-style: none;
  box-shadow: -7px 7px 23px 10px rgba(18,18,18,0.28);
-webkit-box-shadow: -7px 7px 23px 10px rgba(18,18,18,0.28);
-moz-box-shadow: -7px 7px 23px 10px rgba(18,18,18,0.28);
border-radius: 10px;
}

.profile-hd__line-decor {
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  z-index: 1;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.profile-hd__content{
  z-index: 2;
  position: relative;
  padding: 65px;
  display: flex;
}

.profile-hd__img-area{

  img {
    width: 100%;
    max-width: 460px;
    object-fit: cover;
    border-radius: 7px;
  }
}

.profile-hd__cont-area{
  flex: 1;
  margin-left: 30px;

}

.profile-hd__name {
  font-size: 2.8rem;
  font-weight: bold;
}

.profile-hd__age {
  color: var(--dark-gray-color);
  font-weight: 400;
}

.profile-hd__sub-title{
  font-size: 1.2rem;
  color: #3d3d3d;
  line-height: .7;
  padding-left: 15px;
}

.profile-hd__desc-cont {
  margin: 27px 0;

  .profile-hd__desc {
    font-size: 1;
    line-height: 1.5;
  }
}

//PROFILE CHECK

.profile-hd__check {
  align-items: center;
  background-color: #9c9c9c;
  display: inline-flex;
  padding: 10px 10px;
  border-radius: 7px;
}

.profile-hd__icon {
  color: rgb(119, 229, 9);
  font-size: 1.3rem;
  margin-right: 10px;
}

.profile-hd__text {
  font-size: 1.3 rem;
  color: white;
  font-weight: bold;

}

// HEADER ITEM

.profile-hd__item {
  display: flex;
  align-items:center;
  margin: 10px 0;
}

.profile-hd__item-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.profile-hd__item-icon {
  font-size: 1.2rem;
  margin-right: 8px;
}
.profile-hd__item-title{
  margin-right: 7px;
}

// QUESTIONS CARD

.profile-hd__sec--questions {
  background-color: white;
  border-radius: 7px;
  padding: 40px;
  margin: 7% 0;
}

.profile-pg__questions-wrapper {
  overflow: auto;
}

.profile-pg__question {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1;
  margin-bottom: 3px;
}

.profile-pg__answer {
  color: #3d3d3d;
}

.profile-pg__question-cont {
  margin-bottom: 15px;
}

.profile-pg__sec-quest-title {
  font-size: 1.8rem;
  text-align: left;
}

.profile-pg__question-side {
  flex: 1;
}

.profile-pg__sec__question-side-cont {
  display: flex;
}

.profile-pg__sec__question-side-cont--left {
  margin-left: 10px;
}


//GALLERY

.profile-pg__gallery-wrapper {
  overflow: auto;
}

.p-gallery{
  margin: 7% 0;
}

.gallery-img-wrapper {
  padding: 0 20px;
}

.gallery-img {
  width: 100%;
  border-radius: 7px;
}
