.profile-pg {
  background-color: rgb(243, 243, 243);
  min-height: 100vh;
}

.profile-pg__header-cont {
  padding-top: 6.5%;
  padding-bottom: 6.5%;
}

.profile-section-title {
  font-size:3rem;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
