.hm-other-info {
  background-color: var(--main-color);
  padding-top: 7%;
  padding-bottom: 7%;
  color: white;
  text-align: center;
}

.hm-other__title {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hm-other__sub-title {
  font-size: 1.2rem;
  max-width: 500px;
  margin: auto;
}

.hm-other__items-cont{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

// SMALL CARD
.sm-card {
  background-color: white;
  width: 200px;
  padding: 30px 20px;
 text-align: center;
 margin: 10px 10px;
 color: rgb(62, 62, 62);
 border-radius: 10px;
}

.sm-card__icon {
  font-size: 80px;
  margin-bottom: 20px;
}

.sm-card__title{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.sm-card__info {
  font-size: 1.1rem;
}
