
.hm-info-sec{
  background-color: rgb(241, 241, 241);
  padding-top: 7%;
  padding-bottom: 7%;
}

.hm-info-sec__titles {
  text-align: center;

  .hm-info-sec__title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .hm-info-sec__sub-title {
    font-size: 1.3rem;
    color: rgb(112, 112, 112);
  }
}

.hm-info-sec__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ITEM */
.hm-info-item {
  width: 300px;
  background-color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px;
  text-align: center;
}

.hm-info-item__img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.hm-info-item__title{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px 0;
}

.hm-info-item__content{
  font-size: 1.1rem;
}
